{% layout "server/layouts/base.liquid" %}

{% block content %}

<div class="quiz">
  <div class="options">
    <div class="Damage">
      <button class="paper">Fire</button>
      <button class="paper">Water</button>
      <button class="paper">Thunder</button>
      <button class="paper">Ice</button>
      <button class="paper">Dragon</button>
      <button class="paper">None</button>
    </div>

    <div class="ailment">
      <button class="paper">Poison</button>
      <button class="paper">Sleep</button>
      <button class="paper">Paralysis</button>
      <button class="paper">Blast</button>
      <button class="paper">Stun</button>
      <button class="paper">None</button>
    </div>
  </div>

  {% comment %} Monster 1 {% endcomment %}
  <div class="paper combat">
    <h1 class="h1">{{ monsters.name }}</h1>
    <img src="{{image}}" alt="" />
    <p>{{ monsters.type }}</p>
    <p>{{ monsters.species }}</p>
    <p>{{ monsters.description }}</p>
  </div>
</div>
{% endblock %}
